<!DOCTYPE html>
<html>
  <head>
    <title>Pgvc demo</title>
  </head>
  <body>
    <div>

      <% if @username %>
        <div>You are logged in as <%= @username %></div>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" name="Logout" value="Logout" />
        </form>
        <a href="/branches">Branches</a>
        <a href="/products">Edit</a>
        <a href="/diff">Diff</a>
      <% else %>
        <form action="/session" method="post">
          <input id="username" type="text" name="username" />
          <input type="submit" name="login" value="Login" />
        </form>
      <% end %>

      <a href="/reset">Reset</a>
      <div>
        Current branch:
        <span class="current_branch"><%= @branch.name %></span>
      </span>
    </div>
    <%= yield %>
  </body>
</html>

