<!DOCTYPE html>
<html>
  <head>
    <title>Pgvc demo</title>
  </head>
  <body>
    <div>
      <% if @username %>
        <div>You are logged in as <%= @username %></div>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <!-- FIXME: needs a value of "Logout" -->
          <input type="submit" name="Logout" />
        </form>
        <a href="/branches">Branches</a>
      <% else %>
        <form action="/session" method="post">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" />
          <!-- FIXME: needs a value of "Login" -->
          <input type="submit" name="Login" />
        </form>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>

